@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --theme-color: #fff;
    --theme-inverse-color: #000000;
    --primary-color: #C17208;
    --secondary-color: #9c510b;
    --third-color: #5F3E1B;

    --text-color: #000;
    --text-inverse-color: #fff;

    --text-background-color: #C17208;

    --backgroud-color-container: #DBCD70;
    --backgroud-color-container-deg: #dbcd70fd;

    /*Mobile*/
    --text-active-mobile-color: #ffc400;
    --background-nav-menu: #c17108f8;
    --font-roboto: 'Roboto', sans-serif;
    --font-koulen: 'Koulen', 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-roboto);
    box-sizing: border-box;
}

body {
    padding: 80px 0 0 0;
}
