/*Services*/

.services-article {
    color: var(--third-color);
}

.services-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 2rem;
}


.service {
    width: 350px;
    height: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    position: relative;
}

.service-image {
    width: 100%;
    max-width: 300px;
}

.service-title {
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

.service-overlay{
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .brokers-section {
        padding: 40px 0;
    }
}

@media only screen and (max-width: 600px) {
    .services-title {
        font-size: 24px;
    }

    .services-description {
        font-size: 20px;
    }

    .service-overlay{
        font-size: 1em;
    }
}