* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: verdana, sans-serif;
    margin-top: 80px;
}

/*Header and nav bar*/
.header {
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, rgba(253, 187, 45, 0.5) 0%, rgba(108, 80, 19, 0.6) 100%), url('../public/images/background-gold.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    font-weight: bold;
    padding: 0 20px;
    transition: 0.3s;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.logo-text {
    text-shadow: 2px 6px 5px #C17208;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background: #C17208;
    border-radius: 5px;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {

    body {
        margin-top: 60px;
    }

    .header,
    .nav {
        height: 60px;
    }

    .logo {
        font-size: 22px;
        padding: 0 10px;
        height: 60px;
        transition: 0.3s;
    }

    .logo-container {
        height: 60px;
        transition: 0.3s;
    }

    .logo-img {
        width: 50px;
        height: 50px;
        transition: 0.3s;
    }

    .nav-menu {
        flex-direction: column;
        margin: 0;
        background-color: #c17108f8;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        align-items: center;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.5s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #ffc400;
        transition: 0.5s;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
        transition: left 0.5s;
    }

    .nav-toggle:focus-visible:not(:focus-visible) {
        outline: none;
    }

}

/*Slides section*/
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: flex;
    width: 100%;
    height: 400px;
    display: none;
    transition: 0.5s;
}

.mySlides.fade figure {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.mySlides.fade img {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    opacity: 0.2;
    margin: 0 auto;
}

.slide-text {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: #000000;
    text-shadow: 0 0 3px #c1af08f8, 0 0 5px #c17108f8;
}

.slide-text h1 {
    width: 80%;
    max-width: 1200px;
    font-size: 26px;
    text-align: center;
    vertical-align: bottom;
    margin: 5px 0;
    padding: 5px;
    z-index: 1;
    hyphens: auto;
}

.slide-text-span {
    color: #c17108f8;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
    text-shadow: 0 0 3px #000, 0 0 5px #ff7300;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*@media screen and (max-width: 500px) {
    .slide-text h1 {
        font-size: 22px;
        transition: 0.5s;
    }

    .logo-anchor {
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        transition: 1.5s;
    }
}

@media screen and (max-width: 355px) {
    .slide-text h1 {
        font-size: 18px;
        transition: 0.5s;
    }
}*/

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.6s;
}

@keyframes fade {
    0% {
        opacity: .2
    }

    25% {
        opacity: .4
    }

    50% {
        opacity: .6
    }

    75% {
        opacity: .8
    }

    100% {
        opacity: 1
    }
}

@media only screen and (max-width: 299px) {
    .logo-text {
        display: none;
        transition: 1s;
    }
}

/*Brokers*/
.brokers-section {
    width: 100%;
    /*background: linear-gradient(to bottom right,#492402, #C17208) ;*/
    background: linear-gradient(to bottom right, #C17208, #9c510b);
}

.article-brokers {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
}

.brokers-container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #ff9102;
}

.brokers-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.brokers-description {
    font-size: 26px;
    width: auto;
    height: auto;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
}

.brokers-container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
}

.card-img-container {
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

.card-img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.card-img-caption{
    padding: 15px;
    font-size: 26px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.009);
    transition: transform 0.3s;
}

.card-description {
    width: 300px;
    padding: 15px;
}